body {
  font-family: "Roboto", sans-serif;
  color: #212121;
}
:root {
  --color-text-dark: #212121;
  --color-text-light: #ffffff;
  --color-background-dark: #2f303a;
  --color-background-light: #e5e5e5;
  --color-mark: #2196f3;
}
ul {
  list-style-type: none;
}
h2 {
  font-size: 36px;
  font-weight: 700;
  line-height: 1, 17;
  text-align: center;
}
h3 {
  font-size: 14px;
  font-weight: 700;
  line-height: 1, 17;
}
p {
  font-size: 14px;
  line-height: 1, 7;
}
.menu {
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
}
.menu:hover,
.menu:focus {
  color: var(--color-mark);
}
.logo {
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  font-weight: 700;
  color: #000000;
  text-decoration: none;
  margin-left: 145px;
}
.logo-web {
  color: var(--color-mark);
}
.main-header {
  background-color: var(--color-background-light);
  height: 80px;
  width: 1600px;
  border: 1px solid rgba(236, 236, 236, 1);
  display: flex;
  align-items: center;
}
nav {
  margin-left: 93px;
}
.main-menu {
  display: flex;
  gap: 46px;
  flex-basis: calc((100%-2 * 46px) / 3);
}
.contact {
  margin-left: 371px;
  display: flex;
  gap: 50px;
}
.motto {
  background-color: var(--color-background-dark);
  min-height: 600px;
  width: 1600px;
}
h1 {
  padding: 200px 452px 0 452px;
  color: var(--color-text-light);
  line-height: 60px;
  text-align: center;
  font-size: 44px;
  font-weight: 900;
  margin: 0 auto;
}
.button-hw1 {
  background-color: var(--color-mark);
  color: var(--color-text-light);
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  cursor: pointer;
  border: none;
  padding: 10px 41px;
  margin: 30px 700px 200px 700px;
}
.what-we-do {
  background-color: var(--color-background-light);
}
.team {
  background-color: #f5f4fa;
}
.name {
  font-size: 16px;
  font-weight: 500;
  line-height: 1, 17;
  text-align: center;
}
.job {
  font-size: 16px;
  line-height: 1, 17;
  text-align: center;
}
.person1,
.person2,
.person3,
.person4 {
  background-color: var(--color-text-light);
}
footer {
  background-color: var(--color-background-dark);
  color: var(--color-text-light);
}
.logo-studio {
  color: var(--color-text-light);
}
address {
  font-style: normal;
}
.main-hw2 {
  margin-top: 174px;
}
.button-hw2 {
  background-color: #f5f4fa;
  font-size: 16px;
  font-weight: 500;
  line-height: 1, 63;
  cursor: pointer;
  border: none;
}
.button-hw2:hover,
.button-hw2:focus {
  background-color: var(--color-mark);
  color: var(--color-text-light);
}
.project {
  background-color: #eeeeee;
}
.name-of-project {
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
}
.type-of-project {
  font-size: 16px;
  line-height: 1, 88;
}
.container {
  width: 1200px;
}
