body {
  font-family: "Roboto", sans-serif;
  color: #212121;
}
:root {
  --color-text-dark: #212121;
  --color-text-light: #ffffff;
  --color-background-dark: #2f303a;
  --color-background-light: #e5e5e5;
  --color-mark: #2196f3;
}
ul {
  list-style-type: none;
}
h2 {
  font-size: 36px;
  font-weight: 700;
  line-height: 1, 17;
  text-align: center;
}
h3 {
  font-size: 14px;
  font-weight: 700;
  line-height: 1, 17;
}
p {
  font-size: 14px;
  line-height: 1, 7;
}
.menu {
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
}
.menu:hover,
.menu:focus {
  color: var(--color-mark);
}
.logo {
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  font-weight: 700;
  color: #000000;
  text-decoration: none;
}
.logo-web {
  color: var(--color-mark);
}
.main-header {
  background-color: var(--color-background-light);
  height: 80px;
  width: 1600px;
}
.motto {
  background-color: var(--color-background-dark);
  color: var(--color-text-light);
  text-align: center;
  font-size: 44px;
  font-weight: 900;
  height: 600px;
  width: 1600px;
}
.button-hw1 {
  background-color: var(--color-mark);
  color: var(--color-text-light);
  font-size: 16px;
  font-weight: 700;
  line-height: 1, 88;
  cursor: pointer;
  border: none;
}
.what-we-do {
  background-color: var(--color-background-light);
}
.team {
  background-color: #f5f4fa;
}
.name {
  font-size: 16px;
  font-weight: 500;
  line-height: 1, 17;
  text-align: center;
}
.job {
  font-size: 16px;
  line-height: 1, 17;
  text-align: center;
}
.person1,
.person2,
.person3,
.person4 {
  background-color: var(--color-text-light);
}
footer {
  background-color: var(--color-background-dark);
  color: var(--color-text-light);
}
.logo-studio {
  color: var(--color-text-light);
}
address {
  font-style: normal;
}
.main-hw2 {
  margin-top: 174px;
}
.button-hw2 {
  background-color: #f5f4fa;
  font-size: 16px;
  font-weight: 500;
  line-height: 1, 63;
  cursor: pointer;
  border: none;
}
.button-hw2:hover,
.button-hw2:focus {
  background-color: var(--color-mark);
  color: var(--color-text-light);
}
.project {
  background-color: #eeeeee;
}
.name-of-project {
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
}
.type-of-project {
  font-size: 16px;
  line-height: 1, 88;
}
